@import "../mixins";
@import "../variables";

.addUser {
  padding: 70px 0 100px;

  @media only screen and (min-width: $breakpoint-tablet) {
    padding: 89px 0 88px;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding: 224px 0 163px;
  }

  @media only screen and (min-width: $breakpoint-huge) {
    padding: 224px 0 163px;
  }

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    margin: 0 auto;
    max-width: 328px;

    @media only screen and (min-width: $breakpoint-tablet) {
      max-width: 380px;
    }

    &-field {
      &-text {
        position: relative;
        &:not(:first-child) {
          margin-top: 50px;
        }
      }
      &-radio {
        margin-bottom: 47px;
      }
      &-media {
        margin-bottom: 50px;
      }
    }

    &-label {
      &-text {
        color: $color-gray-label;
        background: $color-background;
        position: absolute;
        top: 25%;
        left: 16px;
        transition: transform $transition-time-default linear;
      }

      &-radio {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
        &:not(:first-child) {
          margin-top: 7px;
        }
      }

      &-media {
        display: block;
        cursor: pointer;
        display: flex;

        &-btn {
          color: $color-black;
          border-radius: 4px 0 0 4px;
          padding: 14px 15px;
          border: 2px solid $color-black;
          width: 83px;
        }

        &-info {
          color: $color-gray-border;
          border-radius: 0 4px 4px 0;
          padding: 14px 16px;
          border: 2px solid $color-gray-border;
          border-left: none;
          width: 245px;

          @media only screen and (min-width: $breakpoint-tablet) {
            width: 297px;
          }
        }
      }
    }
    &-inputTip {
      font-size: 12px;
      line-height: 14px;
      color: $color-gray-label;
      margin: 4px 0 43px 16px;
    }
  }

  &__input {
    &-text {
      width: 328px;
      height: 54px;
      padding: 14px 0 14px 16px;

      border: 2px solid $color-gray-border;
      outline: $color-gray-border;
      border-radius: 4px;

      font-family: inherit;
      font-size: inherit;
      line-height: inherit;

      &:focus {
        border-color: $color-black;
        color: $color-black;

        + .addUser__form-label-text {
          color: $color-black;
        }
      }

      &.invalidInput {
        border-color: $color-red-invalid;
        outline: $color-red-invalid;
        color: $color-red-invalid;

        + .addUser__form-label-text {
          color: $color-red-invalid;
        }
      }

      @media only screen and (min-width: $breakpoint-tablet) {
        width: 380px;
      }

      &:focus + .addUser__form-label-text,
      &:not(:placeholder-shown) + .addUser__form-label-text {
        transform: translateY(-100%);
      }
    }

    &-radio {
      @include hidden;

      &-icon {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        border: 2px solid $color-gray-border;
        position: relative;

        * {
          display: block;
          background: $color-secondary;
          width: 10px;
          height: 10px;
          border-radius: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &:checked + .addUser__input-radio-icon {
        border-color: $color-secondary;
        transition: all $transition-time-fast linear;

        * {
          opacity: 1;
          transition: all $transition-time-fast linear;
        }
      }
    }

    &-media {
      @include hidden;
    }
  }

  &__success {
    &-media {
      width: 328px;
      height: 290px;
      margin: 0 auto;
    }

    &-img {
      @include defaultImage;
    }
  }
}

.invalidTip {
  color: $color-red-invalid;
}
